@import 'base/variables'
@import 'blocks/promo'
@import 'blocks/header'
@import 'blocks/buttons'
@import 'blocks/benefits'
@import 'blocks/consultation'
@import 'blocks/forms'
@import 'blocks/carousel'
@import 'blocks/catalog'
@import 'blocks/reviews'
@import 'blocks/footer'
@import 'blocks/modal'

html
    font-family: 'Museo Sans'
.container
    position: relative
    max-width: 950px
    margin: 0 auto
.label
    font-size: 30px
    font-weight: 700
    text-align: center
    color: #0d0d0d
    text-transform: uppercase
    &__left
        text-align: left
        color: #fff

@media (max-width: 991px)
    .label
        &__left
            text-align: center

@media (max-width: 575px)
    .label
        font-size: 25px
        &__left
            font-size: 19px



// @media (max-width: 1200px)

// @media (max-width: 991px)

// @media (max-width: 767px)

// @media (max-width: 575px)
